<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  This app was designed with heavy influence from RailsTutorials by Michael Hartl. The book below will allow you to build an application like this aswell.
</p>
<p><a href="http://www.railstutorial.org/book"><em>RailsTutorials</em>
  book</a>.
</p>