<footer class="footer">
  <small>
    The Sample App, design made
    by <a href="http://www.michaelhartl.com/">Michael Hartl</a>
    at <a href="http://www.railstutorial.org/">RailsTutorials</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>